<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/candidates/">Кандидаты</a>
                    </li>
                </ul>
                <form action="/candidates/" method="post">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="Search">
                </form>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div style="margin-top: 10px">
        {% block body %}

            <h2> Урок 10. Домашнее задание </h2>

        {% endblock %}
    </div>
</div>
</body>
</html>